# Happiness Report 2019 Analysis
The World Happiness Report is a landmark survey of the state of global happiness. Published annually by the United Nations Sustainable Development Solutions Network, it ranks countries by how happy their citizens perceive themselves to be. This analysis explores the 2019 edition of the report, which provides happiness indexes for every country around the globe.
Data source: http://worldhappiness.report/ed/2019/.

## Objectives Of The Analysis
With this project we'd like to discover:
- The patterns that make a country happy and all the related correlations (how GDP per capita, social support, and healthy life expectancy influence the happiness score)
- What regions of the world are happier and why
- Does economic prosperity always make a country happy?

In [1]:
# We import pandas and other needed libraries.
import pandas as pd

In [7]:
# We read the csv file with pandas and save it as df.
df = pd.read_csv('world_happiness.csv')

In [8]:
# Viewing dataframe's info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (region)         156 non-null    object
 1   Ladder                   156 non-null    int64
 2   SD of Ladder             156 non-null    int64
 3   Positive affect          155 non-null    float64
 4   Negative affect          155 non-null    float64
 5   Social support           155 non-null    float64
 6   Freedom                  155 non-null    float64
 7   Corruption               148 non-null    float64
 8   Generosity               155 non-null    float64
 9   Log of GDP
per capita    152 non-null    float64
 10  Healthy life
expectancy  150 non-null    float64
dtypes: float64(8), int64(2), object(1)
memory usage: 13.5+ KB

In [9]:
# Viewing dataframe's first 5 entries
df.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

## Data Cleaning and Preparation

In [15]:
# We check for missing values in our dataset, since they're very few we're just gonna ignore them.
df.isnull().sum()

Country (region)            0
Ladder                      0
SD of Ladder                0
Positive affect             1
Negative affect             1
Social support              1
Freedom                     1
Corruption                  8
Generosity                  1
Log of GDP\nper capita      4
Healthy life\nexpectancy    6
dtype: int64

In [16]:
# We now check for duplicate rows in our dataset. There are none.
df.duplicated().sum()

0

In [20]:
# We check the data types for each column. There is no need to reformat something, every column has the right data type.
df.dtypes

Country (region)             object
Ladder                        int64
SD of Ladder                  int64
Positive affect             float64
Negative affect             float64
Social support              float64
Freedom                     float64
Corruption                  float64
Generosity                  float64
Log of GDP\nper capita      float64
Healthy life\nexpectancy    float64
dtype: object

## Statistical Analysis
Our dataset is already clean, and there is no need to make any dramatic change. We can begin with the analysis!